.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.Job {
    font-family: "Teko", sans-serif;
    font-size: xx-large;
}

.Me {
    width: 20rem;
}

.HelloText {
    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #252836;
    border-radius: 10px;
    padding: 10px;
    font-size: small;
}

span {
    color: #4993d7;
}
