.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.Job {
    font-family: "Teko", sans-serif;
    font-size: 3rem;
}

.Me {
    width: 20rem;
}

.HelloText {
    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #282828;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    box-shadow: inset 0px 0px 20px #151515;
}

span {
    color: #4993d7;
}
