.TOP {
    display: flex;
    justify-content: center;
}

.Navbar {
    background-color: #151515;
    align-items: center;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: fixed;
    z-index: 1;
}
.Nom {
    color: #4993d7;
    font-size: 3rem;
    font-family: "Teko", sans-serif;
}
.Liens {
    color: white;
    width: 70vw;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    font-family: "Teko", sans-serif;
}

.Lien:hover {
    color: #4993d7;
}

.Lien {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.BoutonContact {
    color: white;
    background: linear-gradient(140deg, #4993d7, #6931c5);
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 30px;
    font-family: "Teko", sans-serif;
}
