.TOP {
    display: flex;
    justify-content: center;
}

.Navbar {
    align-items: center;
    width: 80vw;
    display: flex;
    padding: 5px;
    position: fixed;
}
.Titre {
    color: white;
    font-size: x-large;
    font-family: "Teko", sans-serif;
}
.Liens {
    color: white;
    width: 70vw;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-family: "Teko", sans-serif;
}

.Lien:hover {
    color: #4993d7;
    transition: all 0.5s ease-out;
}

.Lien {
    cursor: pointer;
}

img {
    width: 2rem;
}
.BoutonContact {
    color: white;
    background: linear-gradient(140deg, #4993d7, #6931c5);
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: medium;
    font-family: "Teko", sans-serif;
}
