.MySkills {
    margin-top: 3rem;
    color: #4993d7;
    font-size: 3rem;
    font-family: "Teko", sans-serif;
    text-align: center;
}

.cardskill {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10rem;
    width: 20rem;
    background: linear-gradient(140deg, #3b3b3b, #292929);
}

.Skilltitre {
    font-size: 40px;
    color: #4993d7;
    font-family: "Teko", sans-serif;
}

.cardlanguage {
    background: linear-gradient(140deg, #4993d7, #6931c5);
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
}

.iconeskill {
    background: linear-gradient(140deg, #4993d7, #6931c5);
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    position: absolute;
}

.all {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 15px;
    gap: 50px;
    width: 10rem;
}

.skillback {
    background-color: #282828;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px #151515;
    width: 80rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.skillplacement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    background: linear-gradient(140deg, #4993d7, #6931c5);
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
